/* Reset and base */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('/bkg-mob.webp') no-repeat;
  background-size: cover;
  height: 100%;
}

@media (min-width: 768px) {
  body, html{
    background: url('/bkg.jpg') no-repeat;
    background-size: cover;
  }
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Card */
.card {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 26.25rem;
  box-sizing: border-box;
}

/* Heading */
.heading {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
  color: green;
}

/* Input */
.input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  /* transition: all 0.3s ease; */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.start {
  background-color: #28a745;
}

.stop {
  background-color: #dc3545;
}

.disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

/* Status indicator */
.status-indicator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 1.75rem;
}

.parklink {
  display: block;
  margin-left:5rem;
  padding: 12px 28px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.parklink:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: auto;
  animation: blink 0.5s infinite;
}

.green {
  background-color: #28a745;
}

.red {
  background-color: #dc3545;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

/* Live Data */
.data-container {
  margin-top: 1.5625rem;
  color: lightblue;
  font-size: 1rem;
}

.subheading {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #222;
}

.parentx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}